html,
body {
  height: 100% !important;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  background-repeat: repeat;
  border: 0 !important;
  margin: 0;
  -ms-content-zooming:none;
  touch-action:none;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.activity {
  width: 60vw;
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid cornflowerblue;
  border-radius: 50px;
  padding: 50px;
  overflow: hidden;
}
.help {
  color: cornflowerblue;
  font-weight: 800;
  position: absolute;
  top: 10px;
  right: 40px;
  line-height: 20px;
  cursor: pointer;
}

.help span {
  font-size: 20px;
  margin-left: 10px;
}

.help:hover {
  text-shadow: 5px 2px 5px grey;
}

.sentence .col.word {
  font-weight: bold;
  margin: 2px 0;
  cursor: pointer;
  border-radius: 30px;
}

.sentence .col.word:hover {
  background-color: lightskyblue;
}

.sentence .col.word.selected {
  color: white;
  background-color: dodgerblue;
}

.sentence {
  margin-top: 50px;
}

.activity .selectios {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.activity .selection-button {
  display: none;
}

body.selected .selection-button {
  display: inline-block;
}

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  white-space: nowrap;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(0,0,0,.2);
  display: none;
  opacity: 0;
  background: #FFF;
  transform: translate(-50%, -50%)!important;
  max-width: 400px;
  padding-bottom: 50px;
  overflow: hidden;
}

.popup-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: none;
  opacity: 0;
}

body.popup-show .popup,
body.popup-show .popup-overlay{
  transform: scale(1);
  animation-name: popin;
  animation-duration: 1s;
  display: block;
  opacity: 1;
}

.response {
  position: relative;
}

.cat-fnc {
  border-top: 2px solid cornflowerblue;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}