<div class="popup-overlay"></div>
<div class="popup">
  <div class="container">
    <h5 class="font-weight-bolder pb-2">Seleccione un valor en ambos</h5>
    <form class="form">
      <div class="form-group">
        <select id="categories" class="form-control">
          <option value="none">Categoría gramatical</option>
        </select>
      </div>
      <div class="form-group">
        <select id="functions" class="form-control">
          <option value="none">Función sintactica</option>
        </select>
      </div>
    </form>
  </div>
  <div class="footer">
    <button id="buttonApply" type="button" class="btn btn-primary w-50">Aplicar</button>
    <button id="buttonCancel" type="button" class="btn btn-secondary w-50">Cancelar</button>
  </div>
</div>